@keyframes onactive {
    from {
        outline-color: #DEDEDE;
    }
    to {
        outline-color: #7FC520;
    }
}
@keyframes active-label {
    from {
        color: #DEDEDE;
    }
    to {
        color: #969696;
    }
}
* {
  box-sizing: border-box;
}

body {
    display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
    background: url("bg.png");
    background-size: cover;
}

body header.header {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px 0 0 0;
}

body header.header div {
    margin: 0;
}

body header.header .logo-top img, body header.header .logo-round-top img {
    display: block;
    opacity: 0.4;
}

body header.header .logo-top {
    align-self: center;
}

body header.header .logo-top img {
    height: 80px;
    margin: 0 0 0 10px;
}

body header.header .logo-round-top img {
    height: 110px;
}
body main {
  display: flex;
    padding: 0 75px;
}

div h2 {
    margin: 20px 0 10px 0;
  line-height: 50px;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

.form-container {
  height: 1200px;
  margin: auto;
}
.form-container div {
  width: 380px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #F4F4F4;
  box-shadow: 0 0 5px 20px rgba(0, 0, 0, 0.33);
    border-radius: 0.25em;
}
form label {
    display: block;
    position: relative;
    line-height: 10px;
}
form label:after {
    position: absolute;
    content: " ";
    height: 80%;
    width: 2px;
    border-right: 1px solid #DEDEDE;
    right: 0;
    top: 10%;
}
form label > i {
  padding: 10px 20px;
  color: #DEDEDE;
}
form .input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
form .input-container:first-child {
    margin: 10px 0 0 0;
}
form .input-container .input-border {
  width: 340px;
  margin: 10px 0;
  border: 1px solid #DEDEDE;
  border-radius: 0.5em;
}
form .input-container div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}
form input, form select {
  width: 280px;
    height: 38px;
  background: none;
  border: none;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
}

form input[type=email] {
    background: #F6F6F6;
}

form input[type=text], form input[type=email], form input[type=password] {
    padding: 0 20px;
}

form input[type=text]:-webkit-autofill, form input[type=email]:-webkit-autofill, form input[type=password]:-webkit-autofill {
    background-color: #7FC520;
}
form input[type=checkbox] {
  width: auto;
  height: auto;
  padding: 10px;
    margin: auto;
}
form input[type=checkbox]:checked {
    background-color: #7FC520;
}

form input[type=checkbox]:checked:hover, form input[type=checkbox]:checked :focus, form input[type=checkbox]:checked :active {
    background-color: #7FC520;
}
form input::placeholder, form textarea::placeholder, form select, form select#location.test {
  font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #979797;
    height: 38px;
}
form .terms > input {
  margin: 0;
  width: auto;
  height: auto;
}
form input, form textarea {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

form input:-webkit-autofill, form textarea:-webkit-autofill {
    background-color: #DEDEDE;
}
form input:focus, form textarea:focus, form select:focus {
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-name: onactive;
    animation-play-state: running;
    outline-color: #7FC520;
    -moz-outline-radius: 0.25em;
}
form .label-focus {
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-name: active-label;
    animation-play-state: running;
    color: #969696;
}
form select {
  height: 19px;
  padding: 0 14px 0 8px;
  border-radius: 0;
  -webkit-appearance: none;
}
form select#location.test {
    padding: 0 20px;
}
form select:after {
    font-family: "Font Awesome 5 Free";
    content: "f0d7";
}
form textarea {
  width: 340px;
  height: 200px;
  margin: 10px 0 10px 0;
  padding: 10px;
  background: #F6F6F6;
  border: 1px solid #DEDEDE;
  border-radius: 0.25em;
}
form button {
  background: linear-gradient(#A2D73F, #7FC520);
  border: 1px solid rgba(80, 172, 0, 0.41);
  border-radius: 0.75em;
}
form button a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  text-shadow: 0 1px 1px #000;
}
form button[disabled=disabled] {
  background: linear-gradient(rgba(162, 215, 63, 0.4), rgba(127, 197, 32, 0.42));
  color: rgba(255, 255, 255, 0.4);
}
form button.button-refuse {
  background: linear-gradient(#F66D7C, #F13847);
  border: 1px solid #B7132A;
}
form button#sign-in {
  width: 140px;
  height: 40px;
  margin: 0 20px 0 0;
}
form button:nth-child(5), form button:nth-child(7) {
  width: 340px;
  height: 50px;
  margin: 10px auto 15px;
}
form div.terms {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 340px;
  margin: auto;
}
form div.terms div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #DEDEDE;
  border-radius: 0.25em;
}
form div.terms div input {
  width: auto;
  height: auto;
}
form span {
  margin: 0 0 0 10px;
  font-size: 16px;
}
form .flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
form .flex-center div .checkboxes {
  width: 20px;
  height: 20px;
  border: 1px solid #DEDEDE;
  border-radius: 0.25em;
  margin: 0;
}
form .two-elements-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px 0 20px;
}
form .two-elements-submit div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 200px;
  margin: 0 0 0 20px;
}
form .two-elements-submit button {
  width: 150px;
  height: 40px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
footer span {
    color: white;
    padding: 20px;
}

@media (max-width: 959px) {
    body main {
        display: flex;
        flex-direction: column;
    }
}

/*# sourceMappingURL=refabrication.css.map */
